@font-face {
    font-family: "Caveat-Bold";
    src: url(../fonts/Caveat-Bold.ttf);
}

.red {
    font-size: 20px;
    color: red;
}

.green {
    font-size: 20px;
    color: green;
}

.blue {
    font-size: 20px;
    color: blue;
}

.cursive {
    font-size: 20px;
    font-family: "Caveat-Bold", cursive;
}