body {
    background: url(../image/background.jpg) no-repeat fixed;
    background-size: cover;
}

h1 {
    font-family: "Times New Roman", fantasy;
    font-size: 24px;
    text-align: center;
}

.history {
    letter-spacing: 12px;
}

p {
    font-family: "Times New Roman", monospace;
    font-size: 18px;
}

.one {
    letter-spacing: 7px;
    text-decoration-line: underline;
}

.two {
    text-decoration-line: line-through;
}

.three {
    text-decoration-line: underline;
}